:root {
  --mimisiku-background-color: #f2f2f2;
  --mimisiku-font-color: #2f2f2f;
  --mimisiku-font-hover: rgb(0, 0, 0, 0.3);
  --mimisiku-primary: #525252;
  --mimisiku-font-primary: "Kotori Rose", -apple-system, BlinkMacSystemFont,
    “Segoe UI”, Roboto, Helvetica, Arial, sans-serif;

  /* @todo : fix into dark-mode .bg-gradient. */
  --base: hsl(var(--hue), 95%, 50%);
  --complimentary1: hsl(var(--hue-complimentary1), 95%, 50%);
  --complimentary2: hsl(var(--hue-complimentary2), 95%, 50%);

  --bg-gradient: linear-gradient(
    to bottom,
    hsl(var(--hue), 95%, 99%),
    hsl(var(--hue), 95%, 84%)
  );
}

@media (prefers-color-scheme: dark) {
  body {
    --app-container: #111827;
    --main-color: #fff;
  }
}

@media (prefers-color-scheme: light) {
  body {
    --app-container: #FFF;
    --main-color: #1f1c2e;
  }
}

* { box-sizing: border-box; }

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body { width: 100%; height: 100vh; margin: 0; }

body {
  max-width: 1920px;
  min-height: 100vh;
  padding: 2rem;

  color: var(--main-color);
  /* background: var(--bg-gradient); */

  font-family: var(--mimisiku-font-primary);
  justify-content: center;
  background-color: var(--app-container);

  > .loader {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    visibility: visible;
    opacity: 1;
    user-select: none;
    text-align: center;
  
    .spinner {
      width: 300px;
      position: relative;
      margin: 0 auto;
      font-size: 50px;
      color: white;
    }
  }
}

a {
  text-decoration: none;
  color: var(--main-color);
}

h1 {
  margin-top: 45px;
  font-size: 1.5em;
}

h1, h2, h3, h4 { user-select: none; color: var(--main-color); }
button, a { cursor: pointer; }

.flex-link {
  display: flex;
  flex-direction: row;
  align-items: center
}

.justify-center {
  justify-content: center;
}
.justify-end {
  justify-content: flex-end;
}

.back-home {
  margin-top: 16px;
}

.app-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100%;
  transition: 0.2s;
  button, input, optgroup, select, textarea {
    font-family: var(--mimisiku-font-primary);
  }
}

.app-container 
.app-content {
  display: flex;
  height: 100%;
  overflow: hidden;
}

.app-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: relative;
    color: var(--main-color);
}

.app-name {
  margin: 0;
  font-size: 27px;
  line-height: 24px;
  font-weight: 700;
  margin: 0 32px 6px 16px;
  
  > a {
    text-decoration: none;
    user-select: none;
  }
}

.night {
    .search-wrapper {
        box-shadow: none;
    }
}

.page-content {
  flex: 1;
  width: 100%;
}

.content-section {
  flex: 2;
  border-radius: 32px;
  padding: 24px 24px 24px 24px;
  overflow: hidden;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.content-section h3 {
  color: var(--main-color);
}

.content-section-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 32px;
}

.content-section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--main-color);
  user-select: none;
}

.content-section-header p {
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  opacity: 0.9;
  margin: 0;
  color: var(--main-color);
}

.hero {
  h1 {
    margin: 24px 0;
    margin-bottom: 100px;
  }
  margin-bottom: 48px;
}

.areas {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px
}

.wip a {
  margin-top: 48px;
}

footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: white;
  user-select: none;

  span { cursor: pointer; }

  a {
    color: white;
    padding: 5px;
    cursor: pointer;
  }

  svg {
    height: 100%;
    width: 14px;
  }
}

.links {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 26px;
  user-select: none;

  span {
    cursor: pointer;
  }
}

.service {
  user-select: none;
  h2 {
    margin: 10px 0;
  }
  a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 48px;
  }
}

#hero-container {
	filter: url(#threshold) blur(0.6px);
}

#textA, #textB {
	position: absolute;
	width: 100%;
	display: inline-block;
	
	font-size: 48px;
	text-align: right;
	user-select: none;
	
	color: white;
}

/* Home */
.background-canvas {
  position: fixed;
  top: 0;
  bottom: 50px;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: -1;
}

strong {
  font-weight: 600;
}

.text-gradient {
  background-image: linear-gradient(
    45deg,
    var(--base) 25%,
    var(--complimentary2)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.wip {
  mix-blend-mode: overlay;
}

.projects {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 36px;
  padding: 10px;

  .project {
    display: flex;
    padding: 16px 6px;
    background-color: rgba(0, 0, 0, 0.2);
    flex-direction: column;
    align-items: flex-start;
    border-radius: 15px;

    div.excerpt {
      display: flex;
      flex-direction: column;
      width: 100%;

      p.tags {
        display: flex;
        flex-direction: row;
        gap: 5px;
      }
      a {
        align-self: flex-end;
      }
    }
    
    svg {
      height: 30px;
    }
  }
}

@media (prefers-contrast: high) {
  .background-canvas {
    display: none;
  }
}

@media only screen and (min-width: 840px) {
  .page {
    &.home {
      margin-top: 45px;
    }
  }

  .service {
    margin-bottom: 100px;
  }
}

@media only screen and (max-width: 840px) {
  body {
    padding: 1.5rem;
  }
}

@media screen and (max-width: 565px) {
  #hero-container {
    display: none;
  }
  .projects {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 520px) {
  .app-sidebar {
    padding: 4px 0px;
  }

  .mobile-hidden {
    display: none;
  }

  .content-section {
    overflow: auto;
  }

  .app-content {
    padding: 16px 12px 24px 12px;
  }

  .content-section {
    padding: 24px 24px 0 24px;
  }

  .content-section-header p {
    font-size: 18px;
  }

  .areas {
    gap: 50px;
  }
}

@media screen and (max-width: 450px) {
  .projects {
    grid-template-columns: repeat(1, 1fr);
  }
  
  .areas {
    display: inline-block;
  }
}

@font-face {
  font-family: "Kotori Rose";
  font-display: fallback;
  font-style: normal;
  font-weight: 400;
  src: local("Kotori Rose"), url('./assets/kotori-regular-webfont.woff2') format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}
